img.card-img-top {
  height: 180px;
  object-fit: cover;
  object-position: top;
  transition: 0.3s all;
}

.card:hover {
  box-shadow: 5px 5px 10px #eee;
}

.card:hover img.card-img-top {
    object-position: bottom;
}

.loading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading1 {
  background-color: #e8c469;
  padding: 1rem;
}
.heading1 h1 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  margin: 0;
}